#get{
  background-color: rgb(121,82,179);
  color: white;
  padding: 7px;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
}
#Download{
  border-color: rgb(108,117,125);
  color: rgb(108,117,125);
  background-color: white;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}