body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.rounded{
  width: 100px;
  padding: 5px;
  font-size: 10px;
  border: 1px solid black;
  border-radius: 5px;
}